<div class="infostrip">
  <div class="infostrip__item">
    <i class="ti ti-dashboard" aria-hidden="true"></i>
    <div>
      <span class="infostrip__label">Pista</span>
      <span class="infostrip__value">{{ .Site.Params.runway }}</span>
    </div>
  </div>
  <div class="infostrip__item">
    <i class="ti ti-radio" aria-hidden="true"></i>
    <div>
      <span class="infostrip__label">Frequenza</span>
      <span class="infostrip__value">{{ .Site.Params.frequency }}</span>
    </div>
  </div>
  <div class="infostrip__item">
    <i class="ti ti-map-pin" aria-hidden="true"></i>
    <div>
      <span class="infostrip__label">Posizione</span>
      <!-- TODO link to Google Maps -->
      <span class="infostrip__value">{{ .Site.Params.location }}</span>
    </div>
  </div>
  <div class="infostrip__item">
    <i class="ti ti-map-pin" aria-hidden="true"></i>
    <div>
      <span class="infostrip__label">Elevazione</span>
      <span class="infostrip__value">{{ .Site.Params.elevation }}</span>
    </div>
  </div>
</div>
